:root{
    /*--main-bg-colour: #282828	;*/
    --main-accent-colour:#AA336A;
    --main-canvas-colour: #551a35;
    --main-text-colour:#FFF;
    --main-hover-colour:#5c1c3a;
}
@media only screen and (min-width: 600px) {
    html{
        background-color:var(--main-canvas-colour);
        margin: 0.1rem;
        padding: 0.1rem;    
        display: flex;
        align-items: center;
        justify-content: center;
    } 
    body{
        width: 98vw;
        border-radius: 1rem;
        padding: 2rem;
    }
    img{
        width: 80%;
        height: 80%;
        border-radius: 2rem;
    }
    img:hover{
        width: 100%;
        height: 100%;
    }
    button:hover{
        box-shadow: 10%;
        background-color: var(--main-hover-colour);
        text-emphasis-color: bold 2rem;
        border-color: #FFF;
        width: 100%;
        height: 100%;
    }
    h1:hover{
        color: var(--main-accent-colour);
    }

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: var(--main-bg-colour);
}
::-webkit-scrollbar-thumb {
    background: rgb(95, 86, 86);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--main-accent-colour);
  }
}

@media only screen and (max-width:600px) {
    h1{
        text-align: center;
    }
        
    img{width: 100%;}
}
img{
    border: 0.3rem solid var(--main-accent-colour);    
}
body{
    background-color: var(--main-canvas-colour);    
    color: var(--main-text-colour);

    
}
button{
    border-radius:2rem;
    background-color: var(--main-accent-colour);
    text-align: center;
    color: white;
    width: 70%;
}
#liveFeedConatainer{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
section{
    padding: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;    
}
#buttonSectionTop{
    padding-bottom:1vh;
}
#buttonSectionBottom{
    padding-top:1vh;
}


.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 20px solid var(--main-accent-colour);
    border-radius: 50%;
    border-top: 20px solid var(--main-canvas-colour);
    width: 200px;
    height: 200px;
    animation: spinner 2s linear reverse infinite;
    visibility: visible;
  }
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

