/*VARIABLES*/
/*END----------END*/
:root{
    --main-bg-colour: #282828	;
    --main-accent-colour:#AA336A;
    --main-canvas-colour: #551a35;
    --main-text-colour:#FFF;
    --main-hover-colour:#cd166b;
}
/*END----------END*/


/*DESKTOP TABLET*/
@media only screen and (min-width: 600px) {
    html{
        background-color:var(--main-accent-colour);
        margin: 0.1rem;
        padding: 0.1rem;    
        display: flex;
        align-items: center;
        justify-content: center;
    } 
    body{
        width: 98vw;
        border-radius: 1rem;
        padding: 2rem;
    }
    
    img:hover{
        width: 55%;
        height: 55%;
    }

    button:hover{
        box-shadow: 10%;
        text-emphasis-color: bold 2rem;
        border-color: #FFF;
        width: 50%;
        height: 50%;
    }
    h1:hover, h2:hover{
        color: var(--main-accent-colour);
    }

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: var(--main-bg-colour);
}
::-webkit-scrollbar-thumb {
    background: rgb(95, 86, 86);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--main-text-colour);
  }
}
/*END----------END*/


/*MOBILE*/
@media only screen and (max-width:600px) {
    h1{
        text-align: center;
    }
        
    img{width: 100%;}
}
/*END----------END*/

/*LOADING ANIM*/
.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 20px solid var(--main-accent-colour);
    border-radius: 50%;
    border-top: 20px solid var(--main-canvas-colour);
    width: 200px;
    height: 200px;
    animation: spinner 2s linear reverse infinite;
    visibility: visible;
  }
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/*END----------END*/




/*ALL SCREEN WIDTHS*/
img{
    border: 0.3rem solid var(--main-accent-colour);    
}
body{
    background-color: var(--main-bg-colour);    
    color: var(--main-text-colour);
    background: var(--main-bg-colour);
    background: radial-gradient(circle, rgb(44, 7, 53) 0%, var('--main-accent-'), 80%);

    
}
button{
    border-radius:2rem;
    background-color: var(--main-accent-colour);
    text-align: center;
    color: white;
    width: 45%;
}
#liveFeedConatainer{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
section{
    padding: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;    
}
#buttonSectionTop{
    padding-bottom:1vh;
}
#buttonSectionBottom{
    padding-top:1vh;
}

  img{
    width: 50%;
    height: 50%;
    border-radius: 2rem;
  }